.container {
  max-width: 1120px;
  margin: 4rem auto;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
}

.text {
  max-width: 336px;

  h2 {
    font-weight: 600;
    font-size: 1.75rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }
}
